/* ---reset code---*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --sony-blue: #0070d1;
  --light-blue-glow: rgba(0, 112, 209, 0.5);
  --bg-dark: #101010;
  --bg-light: #f5f5f5;
  --text-light: #ffffff;
  --text-dark: #1f1f1f;
  --card-bg: #1a1a1a;
  --radius: 12px;
  --transition-speed: 0.3s;
}

header {
  background: var(--light-blue-glow)
    url("/PlayStation-5-Landing/images/sony-playstation-5-3440x1440-19022.jpg")
    no-repeat;
}
