:root {
  --background-color: #fdfaf6;
  --card-background: #ffffff;
  --primary-color: #e85a4f;
  --title-font: "Playfair Display", serif;
  --body-font: "Lato", sans-serif;
  --text-dark: #3a3a3a;
  --text-light: #6c6c6c;
  --border-color: #eaeaea;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--body-font);
  background-color: var(--background-color);
}
main {
  box-shadow: var(--shadow);
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  overflow: hidden;
}
main h1 {
  color: var(--primary-color);
}
.rc-image {
}
.rc-image img {
  width: 100%;
}
.rc-content {
  padding: 2.5rem;
}
